<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Flotobook - {{ title }}</title>
    </head>
    <body>
        <div>
        <h3>Flotobook</h3>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
            </ul>
            <hr>
        </div>
        <div>
            {% with message = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
            {% block content %}
            {% endblock %}
    </body>
</html>